<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Item Information</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <a href="/logout">Logout</a>
        <a href="/display">Home</a>
        <h3>{{wish.item}} </h3>
        
        <h4>Users who added copied you by adding this item/product</h4>
        {% for user in wish.consumers %}
        <p>{{ user.name }}</p>
        {% endfor %}
        <a href="/display"><button>Go Back..</button></a>
    </body>
</html>