<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'exam_app/styles.css' %}" media="screen" title="no title"  charset="utf-8">
    <title>Welcome</title>
</head>
<body>
    <h3>Posts by: {{oneuser.name}}</h3>
    <h3>Count: {{count}}</h3>
    {% for x in oneuser.messages.all %}
        {{x.author}}:{{x.message}} <br>
    {% endfor %}
</body>
</html>